/* NY - Game */
.ny-game .navbar,
 .ny-hidden {
    display: none;
}
.ny-avoid-clicks {
    pointer-events: none;
}
.ny-clear-float {
    clear: both;
}
.rotate-180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.ny-store,
.ny-menu-color {
    cursor: pointer;
}
.ny-game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    padding: 5px;
    font-size: 0px;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.2;
}
#ny-game-image--box {
    display: none;
}
.ny-game-wrap {
    margin: 0px auto;
    width: 1020px;
    height: 840px;
    position: relative;
}
.ny-game-box {
    width: 740px;
    height: 740px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Colors */
.ny-w {background-color: #FFF;}
.ny-g {background-color: #666;}
.ny-p {background-color: #ED008C;}
.ny-lp {background-color: #ff14e3;}
.ny-y {background-color: #F4ED2F;}
.ny-ly {background-color: #b4ff2a;}
.ny-b {background-color: #283890;}
.ny-lb {background-color: #00AEEF;}
.ny-gr {background-color: #08ad37;}
.ny-r {background-color: #ff0000;}
.ny-pr {background-color: #bb00ff;}

/* Squares */
.ny-square {
    padding: 2px;
    display: inline-block;
}
.ny-square div {
    width: 33px;
    height: 33px;
}
.ny-small-square {
    padding: 1px;
    display: inline-block;
}
.ny-small-square div {
    width: 22px;
    height: 22px;
}
.ny-lmb img {
    width: 24px;
}

/* Menu */
.ny-menu-box {
    position: absolute;
    top: 71px;
    left: 55px;
    width: 74px;
}
.ny-menu-item {
    width: 33px;
    height: 33px;
    display: inline-block;
    margin: 2px;
    padding: 5px;
}
.ny-menu-color {
    width: 74px;
    position: absolute;
    right: 55px;
    top: 71px;
}
.ny-menu-span {
    font-size: 16px;
    color: #FFF;
    display: block;
}
.mouse-buttons {
    margin-top: 22px;
}
.ny-menu--menu {
    margin-top: 21px;
}
#ny-menu-image--box {
    position: absolute;
    visibility: hidden;
}
.ny-menu-image {
    height: 0px;
}
/* Timer */
.ny-timer-box {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    font-size: 42px;
    font-family: 'Roboto Mono', monospace;
    color: #FFF;
    text-align: center;
}

/* Result box */
.ny-result-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #FFF;
    z-index: 1;
}
.ny-result-close {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 23px;
    cursor: pointer;
}
.ny-result-close img {
    filter: invert(100%);
    margin-left: 15px;
}
.ny-result--title {
    font-size: 42px;
    margin-top: 15px;
}
.ny-result--score {
    font-size: 60px;
    margin-top: 10px;
}
.ny-result--text {
    font-size: 24px;
}
#ny-form-high-score {
    margin: 35px auto 0px;
    width: 200px;
}
#ny-name-score {
    border-radius: 0px;
}
.ny-submit-score {
    margin-top: 15px;
    border-radius: 0px;
    border: none;
    width: 100%;
    background-color: #283890;
}
.ny-submit-score:hover {
    background-color: #283890;
}
/* compare screen */
.ny-compare-box-1,
.ny-compare-box-2 {
    width: 490px;
    height: 490px;
    margin-top: 16px;
}
.ny-compare-box-1 {
    float: left;
}
.ny-compare-box-2 {
    float: right;
}

/* Save array dispay box */
.ny-save-wrap,
.ny-start-wrap {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    width: 740px;
    height: 740px;
}
.ny-save-array-box {
    width: 255px;
    height: 255px;
    background-color: #333;
    font-family: 'Roboto Mono', monospace;
    color: #FFF;
    position: absolute;
    left: 2px;
    top: 2px;
    padding: 15px 15px 15px 15px;
}
#ny-save-help {
    font-size: 24px;
}
.ny-submit-image-form {
    font-size: 20px;
    color: #000;
}
#ny-name {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    margin-top: 25px;
}
.ny-save-btn,
.ny-cancel-btn {
    margin-top: 25px;
    border-radius: 0px;
}
#ny-error {
    color: #FFF;
    margin-top: 30px;
    font-size: 20px;
}
#ny-score-error {
    color: #FFF;
    margin-top: 15px;
    font-size: 18px;
}
/* links */
.ny-link {
    position: absolute;
    bottom: 18px;
}
.ny-link a,
.ny-link span {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}
.ny-score-board,
.ny-editor-link2,
.ny-menu2-link,
.ny-editor-link {
    left: 20px;
}
.ny-new-game {
    right: 20px;
    bottom: 19px;
}
.ny-game-link,
.ny-menu-link {
    right: 42px;
}
/* start button */
.ny-start-game {
    width: 144px;
    height: 144px;
    position: absolute;
    top: 298px;
    left: 298px;
    text-align: center;
    cursor: pointer;
}
.ny-start-game span {
    color: #FFF;
    font-size: 36px;
    display: block;
    text-align: center;
    margin-top: 30px;
}
.ny-start-game img {
    width: 40px;
    filter: invert(100%);
}

/* Score board */
.ny-score-box {
    height: 100%;
    width: 540px;
    margin: 0px auto;
}
.ny-score-title {
    text-align: center;
    font-size: 42px;
    color: #FFF;
    padding-top: 15px;
    margin-bottom: 40px;
}
.ny-single-score {
    width: 100%;
}
.ny-score-board--name,
.ny-score-board--score {
    font-size: 22px;
    color: #FFF;
    height: 49px;
    display: block;
    margin: 0px;
}
.ny-score-board--name {
    float: left;
}
.ny-score-board--score {
    float: right;
}
.ny-score-board--name {
    width: 83%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ny-score-board--score {
    width: 17%;
}

/* Menu screen */
.ny-menu-display-name {
    font-size: 42px;
    color: #FFF;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}