/* NY - Game */
.ny-game .navbar,
 .ny-hidden {
    display: none;
}
.ny-avoid-clicks {
    pointer-events: none;
}
.rotate-180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.ny-game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    padding: 5px;
    font-size: 0px;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.2;
}
.ny-game-box {
    margin 0px auto;
    width: 840px;
}

/* Colors */
.ny-w {background-color: #FFF;}
.ny-g {background-color: #666;}
.ny-p {background-color: #ED008C;}
.ny-lp {background-color: #ff14e3;}
.ny-y {background-color: #F4ED2F;}
.ny-ly {background-color: #b4ff2a;}
.ny-b {background-color: #283890;}
.ny-lb {background-color: #00AEEF;}
.ny-gr {background-color: #08ad37;}
.ny-r {background-color: #ed0b0b;}
.ny-pr {background-color: #bb00ff;}

/* Squares */
.ny-square {
    padding: 3px;
    display: inline-block;
}
.ny-square div {
    width: 36px;
    height: 36px;
}

/* Menu */
.ny-menu-box {
    position: fixed;
    top: 5px;
    left: 860px;
    width: 100px;
}
.ny-menu-item {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin: 3px;
    padding: 6px;
}
.ny-menu--color {
    margin-top: 23px;
}
.ny-menu--color span {
    font-size: 16px;
    color: #FFF;
    display: block;
    margin-top: 19px;
}
.mouse-buttons {
    margin-top: 22px;
}
.ny-menu--menu {
    margin-top: 21px;
}
/* Timer */
.ny-timer-box {
    position: fixed;
    bottom: 150px;
    left: 860px;
    width: 100px;
    font-size: 42px;
    font-family: 'Source Code Pro', monospace;
    color: #FFF;
    text-align: center;
}

/* Result box */
.ny-result-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 845px;
    height: 845px;
}
.ny-result-box {
    width: 415px;
    height: 415px;
    background-color: #333;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #FFF;
    position: fixed;
    left: 217px;
    top: 217px;
}
.ny-result-close {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 23px;
    cursor: pointer;
}
.ny-result-close img {
    filter: invert(100%);
    margin-left: 15px;
}
.ny-result--title {
    font-size: 42px;
    margin-top: 20px;
}
.ny-result--score {
    font-size: 60px;
    margin-top: 20px;
}
.ny-result--text {
    font-size: 24px;
}

/* Temp array dispay box */
.ny-save-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 845px;
    height: 845px;
}
.ny-save-array-box {
    width: 246px;
    height: 246px;
    background-color: #333;
    font-family: 'Source Code Pro', monospace;
    color: #FFF;
    position: absolute;
    right: 3px;
    top: 8px;
    padding: 15px 15px 15px 15px;
}
#ny-save-help {
    font-size: 24px;
}
.ny-submit-image-form {
    font-size: 20px;
    color: #000;
}
#ny-name {
    width: 100%;
    font-size: 16px;
    padding: 5px;
    margin-top: 25px;
}
.ny-save-btn,
.ny-cancel-btn {
    margin-top: 25px;
    border-radius: 0px;
}
#ny-error {
    color: #FFF;
    margin-top: 30px;
    font-size: 20px;
}