{% extends "base.html" %}

{% block pageTitle %}
<title>PartyGame</title>
{% endblock pageTitle %}

{% block bodyClass%}
<body class="ny-game" draggable="false">
{% endblock bodyClass %}

{% block active %}
{% endblock active %}


{% block content %}
<div class="ny-game-box"></div>
<div class="ny-menu-box">
    <div class="ny-menu-item ny-refresh ny-green"><div><img src="/assets/svg/refresh.svg"></div></div>
    <div class="ny-menu-item ny-help ny-yellow"><img src="/assets/svg/help.svg"></div>
    <div class="ny-menu-item ny-load ny-light-blue"><img src="/assets/svg/save.svg"></div>
    <div class="ny-menu-item ny-save ny-blue"><img class="rotate-180" src="/assets/svg/save.svg"></div>
    <div class="ny-menu-item ny-lmb ny-white"><img src="/assets/svg/mouse-left.svg"></div>
    <div class="ny-menu-item ny-rmb ny-pink"><img src="/assets/svg/mouse-right.svg"></div>
    <div class="ny-menu--color">
        <span>Colors:</span>
        <div class="ny-menu-item ny-color-btn ny-light-blue">ny-light-blue</div>
        <div class="ny-menu-item ny-color-btn ny-blue">ny-blue</div>
        <div class="ny-menu-item ny-color-btn ny-purple">ny-purple</div>
        <div class="ny-menu-item ny-color-btn ny-red">ny-red</div>
        <div class="ny-menu-item ny-color-btn ny-gray">ny-gray</div>
        <div class="ny-menu-item ny-color-btn ny-yellow">ny-yellow</div>
        <div class="ny-menu-item ny-color-btn ny-white">ny-white</div>
        <div class="ny-menu-item ny-color-btn ny-green">ny-green</div>

        <div class="ny-menu-item ny-store ny-gray"></div>
        <div class="ny-menu-item ny-build ny-gray"></div>
        <div class="ny-menu-item ny-start-game ny-gray"></div>
    </div>
</div>

<div class="ny-timer-box">
    <span id="ny-timer"></span>
</div>

<script type="text/javascript" src="../assets/custom/js/ny-game.js"></script>
{% endblock content %}