{% extends "base.html" %}

{% block pageTitle %}
<title>PartyGame</title>
{% endblock pageTitle %}

{% block bodyClass%}
<body class="ny-game" draggable="false">
{% endblock bodyClass %}

{% block active %}
{% endblock active %}


{% block content %}
<div class="ny-game-wrap">
    <div class="ny-game-box"></div>

    <div class="ny-menu-color">
        <span class="ny-menu-span">Colors:</span>
        <div class="ny-menu-item ny-color-btn ny-lb">ny-lb</div>
        <div class="ny-menu-item ny-color-btn ny-b">ny-b</div>
        <div class="ny-menu-item ny-color-btn ny-pr">ny-pr</div>
        <div class="ny-menu-item ny-color-btn ny-r">ny-r</div>
        <div class="ny-menu-item ny-color-btn ny-g">ny-g</div>
        <div class="ny-menu-item ny-color-btn ny-y">ny-y</div>
        <div class="ny-menu-item ny-color-btn ny-w">ny-w</div>
        <div class="ny-menu-item ny-color-btn ny-gr">ny-gr</div>
    </div>

    <div class="ny-menu-box">
        <span class="ny-menu-span">Tools:</span>
        <div class="ny-menu-item ny-lmb ny-w"><img src="/assets/svg/pen.svg"></div>
        <div class="ny-menu-item ny-rmb ny-p"><img src="/assets/svg/eraser.svg"></div>
    </div>

    <div class="ny-timer-box">
        <span id="ny-timer"></span>
    </div>

    <div class="ny-result-wrap ny-hidden">
        <p class="ny-result--title">Results:</p>
        <div class="ny-compare-box-1 ny-avoid-clicks"></div>
        <div class="ny-compare-box-2 ny-avoid-clicks"></div>
        <div class="ny-clear-float"></div>
        <p class="ny-result--score"></p>
        <p class="ny-result--text"></p>
        <form id="ny-form-high-score" method="post" action="javascript:ajaxSaveScore();">
            <textarea class="ny-hidden" name="ny-hidden-score" id="ny-hidden-score"></textarea>
            <input id="ny-name-score" maxlength="30" type="text" class="form-control" name="ny-name-score" placeholder="Your name.." required>
            <button class="btn btn-primary ny-submit-score">SUBMIT SCORE</button>
            <div id="ny-score-error"></div>
        </form>
        <div class="ny-link ny-score-board">
            <a href="/ny-game-score">&lt;&lt; score board</a>
        </div>
        <div class="ny-link ny-new-game ny-result-close">
            <span>new game &gt;&gt;</span>
        </div>
    </div>

    <div class="ny-start-wrap">
        <div class="ny-start-game ny-b"><span>START</span><img src="/assets/svg/gamepad.svg"></div>
    </div>

    <div class="ny-link ny-home-link ny-menu2-link">
        <a href="/ny-game-menu">&lt;&lt; menu</a>
    </div>

    <div id="ny-game-image--box">
        {% for item in nyGameImageList %}
        <textarea class="ny-game-image">{{ item.image_string }}</textarea>
        {% endfor %}
    </div>

</div>
<script type="text/javascript" src="../assets/custom/js/ny-game.js"></script>
{% endblock content %}