{% extends "base.html" %}

{% block pageTitle %}
<title>PartyGame</title>
{% endblock pageTitle %}

{% block bodyClass%}
<body class="ny-game" draggable="false">
{% endblock bodyClass %}

{% block active %}
{% endblock active %}


{% block content %}
<div class="ny-game-box"></div>
<div class="ny-menu-box">
    <div class="ny-menu-item ny-lmb ny-w"><img src="/assets/svg/mouse-left.svg"></div>
    <div class="ny-menu-item ny-rmb ny-p"><img src="/assets/svg/mouse-right.svg"></div>
    <div class="ny-menu--color">
        <span>Colors:</span>
        <div class="ny-menu-item ny-color-btn ny-lb">ny-lb</div>
        <div class="ny-menu-item ny-color-btn ny-b">ny-b</div>
        <div class="ny-menu-item ny-color-btn ny-pr">ny-pr</div>
        <div class="ny-menu-item ny-color-btn ny-r">ny-r</div>
        <div class="ny-menu-item ny-color-btn ny-g">ny-g</div>
        <div class="ny-menu-item ny-color-btn ny-y">ny-y</div>
        <div class="ny-menu-item ny-color-btn ny-w">ny-w</div>
        <div class="ny-menu-item ny-color-btn ny-gr">ny-gr</div>
        <div class="mouse-buttons">
            <div class="ny-menu-item ny-store ny-lb"><img src="/assets/svg/save.svg"></div>
        </div>
    </div>
    <div class="ny-menu--menu">
        <div class="ny-menu-item ny-start-game ny-g"><img src="/assets/svg/gamepad.svg"></div>
        <!--<div class="ny-menu-item ny-refresh ny-p"><img src="/assets/svg/refresh.svg"></div>-->
    </div>
</div>

<div class="ny-timer-box">
    <span id="ny-timer"></span>
</div>

<div class="ny-result-wrap ny-hidden">
    <div class="ny-result-box">
        <span class="ny-result-close">close<img src="/assets/svg/x-mark.svg"></span>
        <p class="ny-result--title">Results:</p>
        <p class="ny-result--score"></p>
        <p class="ny-result--text"></p>
    </div>
</div>

<div class="ny-save-wrap ny-hidden">
    <div class="ny-save-array-box">
        <span id="ny-save-help">Save image?</span>
        <!--<p id="ny-temp-array-text"></p>-->
        <form class="ny-submit-image-form" method="post" action="javascript:ajaxSaveImage();">
            <input id="ny-name" name="name" maxlength="20" type="text" placeholder="Your name.." required>
            <textarea id="ny-save-array" class="ny-hidden" name="image"></textarea>
            <button class="btn btn-primary ny-save-btn">SAVE</button>
            <span class="btn btn-danger ny-cancel-btn">CANCEL</span>
            <div id="ny-error"></div>
        </form>
    </div>
</div>

<script type="text/javascript" src="../assets/custom/js/ny-game.js"></script>
{% endblock content %}