{% extends "base.html" %}

{% block pageTitle %}
<title>PartyGameScore</title>
{% endblock pageTitle %}

{% block bodyClass%}
<body class="ny-game ny-body-score" draggable="false">
{% endblock bodyClass %}

{% block active %}
{% endblock active %}


{% block content %}
<div class="ny-game-wrap">
    <div class="ny-score-box">
        <p class="ny-score-title">Score board:</p>

        {% for score in highScoreList[0:15] %}
        <div class="ny-single-score">
            <p class="ny-score-board--name">{{ score.first_name }}</p>
            <p class="ny-score-board--score">{{ score.high_score }}%</p>
        </div>
        {% endfor %}

    </div>

    <div class="ny-link ny-home-link ny-editor-link2">
        <a href="/ny-game-menu">&lt;&lt; menu</a>
    </div>
    <div class="ny-link ny-home-link ny-new-game">
        <a href="/ny-game">new game &gt;&gt;</a>
    </div>
</div>
<script type="text/javascript" src="../assets/custom/js/ny-game.js"></script>
{% endblock content %}