{% extends "base.html" %}

{% block active %}
    <li><a href="/">Home</a></li>
    <li class="active2"><a href="/reaction-test">ReactionTest</a></li>
    <li><a href="/code-player">CodePlayer</a></li>
    <li><a href="#">Page 3</a></li>
{% endblock active %}


{% block content %}
    <div class="row c-container">
        <div class="container" id="c-logo">
            <div>ReactionTest</div>
        </div>
    </div>
    <div class="container reaction-test-box">

        <div class="reaction-test">
            <div class="well">

                <div id="box">
                    <div id="shape"></div>
                </div><br>

                <p><strong>Your time was: <span id="spanParagraph"></span></strong></p>
                <p><strong>Best time: <span id="bestTime"></span></strong></p>

            </div>
        </div>

        <div class="high-score">
            <h2>High Scores:</h2>
            <div class="well">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Firstname:</th>
                            <th>Score:</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for score in highScoreList[0:7] %}
                        <tr>
                            <td>{{ score.first_name }}</td>
                            <td>{{ score.high_score }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <form id="form-high-score" method="post">
                <div class="input-group">

                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                    <textarea class="hidden" name="hiddenTime" id="hiddenTime"></textarea>

                    <span class="input-group-addon"><span id="submitBestTime"></span> sec</span>
                    <input id="name" pattern="[A-Za-z]{2,}" maxlength="13" type="text" class="form-control" name="name" placeholder="Your name.." required>
                </div>
                <button class="btn btn-primary submitBtn">Submit Score</button>
            </form>

            <h3>Instructions:</h3>
            <p>
                - test your reactions<br>
                - click on the boxes and circles as quickly as you can<br>
                - save best score with your name
            </p>

        </div>
    </div>

    <script type="text/javascript" src="../assets/custom/js/script.js"></script>
{% endblock content %}
